extends ../layout

block content
	.container
		.row
			.col-md-1
			.col-md-10
				.bs-docs-section
					h2#overview.page-header 记录
					.table-responsive
						table.table.table-hover.table-striped.text-center
							thead
								tr
									th.text-center(width="10%") 名字
									th.text-center(width="10%") 部门
									th.text-center(width="10%") 权限
									th.text-center(width="20%") 创建时间
									th.text-center(width="20%") 最近修改时间
									th.text-center(width="30%") 操作
							tbody
								if users
									each user in users
										tr(class="user-id-#{user._id}")
											td #{user.name}
											td #{user.department}
											td #{moment(user.meta.createAt).format('YYYY/MM/DD')}
											td #{moment(user.meta.updateAt).format('YYYY/MM/DD')}
											td
												a.btn.btn-primary(href="/admin/user/change/#{user._id}") 修改信息
												span &nbsp;&nbsp;
												button.btn.btn-warning.reset(type="button",data-id="#{user._id}") 重置密码
												span &nbsp;&nbsp;
												button.btn.btn-danger.delete(type="button",data-id="#{user._id}") 删除用户
	script(src="/js/setPass.js")